build/Clase1-debug-html5.hxproj
build/project-debug-html5.hxml
build/Clase1-debug-html5-intellij/Clase1.iml
build/Clase1-debug-html5-intellij/.idea/.name
build/Clase1-debug-html5-intellij/.idea/compiler.xml
build/Clase1-debug-html5-intellij/.idea/haxe.xml
build/Clase1-debug-html5-intellij/.idea/misc.xml
build/Clase1-debug-html5-intellij/.idea/modules.xml
build/Clase1-debug-html5-intellij/.idea/vcs.xml
build/Clase1-debug-html5-intellij/.idea/copyright/profiles_settings.xml
build/debug-html5/bomb.png
build/debug-html5/electron.js
build/debug-html5/favicon.ico
build/debug-html5/fish.png
build/debug-html5/gameOver.png
build/debug-html5/grass.png
build/debug-html5/gravityInfo.png
build/debug-html5/index.html
build/debug-html5/jason.png
build/debug-html5/jason.xml
build/debug-html5/julia.png
build/debug-html5/julia.xml
build/debug-html5/Kenney Thick.ttf
build/debug-html5/kha.js
build/debug-html5/kha.js.map
build/debug-html5/lifeFountain.png
build/debug-html5/mainfont.ttf
build/debug-html5/ninja.png
build/debug-html5/package.json
build/debug-html5/preload.js
build/debug-html5/saw.png
build/debug-html5/spikes.png
build/debug-html5/sprint.png
build/debug-html5/SunnyLand.png
build/debug-html5/swimInfo.png
build/debug-html5/tiles.png
build/debug-html5/titleScreen.png
build/debug-html5-resources/alpha-webgl2.vert.essl
build/debug-html5-resources/alpha.vert.essl
build/debug-html5-resources/blur_pass-webgl2.frag.essl
build/debug-html5-resources/blur_pass.frag.essl
build/debug-html5-resources/blurFragmentShader-webgl2.frag.essl
build/debug-html5-resources/blurFragmentShader.frag.essl
build/debug-html5-resources/files.json
build/debug-html5-resources/filmGrain-webgl2.frag.essl
build/debug-html5-resources/filmGrain.frag.essl
build/debug-html5-resources/fov-webgl2.frag.essl
build/debug-html5-resources/fov.frag.essl
build/debug-html5-resources/fxaa-webgl2.frag.essl
build/debug-html5-resources/fxaa.frag.essl
build/debug-html5-resources/hBlurVertexShader-webgl2.vert.essl
build/debug-html5-resources/hBlurVertexShader.vert.essl
build/debug-html5-resources/HighPassFilter-webgl2.frag.essl
build/debug-html5-resources/HighPassFilter.frag.essl
build/debug-html5-resources/mesh-webgl2.frag.essl
build/debug-html5-resources/mesh-webgl2.vert.essl
build/debug-html5-resources/mesh.frag.essl
build/debug-html5-resources/mesh.vert.essl
build/debug-html5-resources/meshBones-webgl2.vert.essl
build/debug-html5-resources/meshBones.vert.essl
build/debug-html5-resources/meshNoShade-webgl2.frag.essl
build/debug-html5-resources/meshNoShade.frag.essl
build/debug-html5-resources/mirage-webgl2.frag.essl
build/debug-html5-resources/mirage.frag.essl
build/debug-html5-resources/mosaic-webgl2.frag.essl
build/debug-html5-resources/mosaic.frag.essl
build/debug-html5-resources/multiplyColor-webgl2.frag.essl
build/debug-html5-resources/multiplyColor.frag.essl
build/debug-html5-resources/outline-webgl2.frag.essl
build/debug-html5-resources/outline.frag.essl
build/debug-html5-resources/painter-colored-webgl2.frag.essl
build/debug-html5-resources/painter-colored-webgl2.vert.essl
build/debug-html5-resources/painter-colored.frag.essl
build/debug-html5-resources/painter-colored.vert.essl
build/debug-html5-resources/painter-image-webgl2.frag.essl
build/debug-html5-resources/painter-image-webgl2.vert.essl
build/debug-html5-resources/painter-image.frag.essl
build/debug-html5-resources/painter-image.vert.essl
build/debug-html5-resources/painter-text-webgl2.frag.essl
build/debug-html5-resources/painter-text-webgl2.vert.essl
build/debug-html5-resources/painter-text.frag.essl
build/debug-html5-resources/painter-text.vert.essl
build/debug-html5-resources/painter-video-webgl2.frag.essl
build/debug-html5-resources/painter-video-webgl2.vert.essl
build/debug-html5-resources/painter-video.frag.essl
build/debug-html5-resources/painter-video.vert.essl
build/debug-html5-resources/poly-webgl2.frag.essl
build/debug-html5-resources/poly-webgl2.vert.essl
build/debug-html5-resources/poly.frag.essl
build/debug-html5-resources/poly.vert.essl
build/debug-html5-resources/renderAreaTint-webgl2.frag.essl
build/debug-html5-resources/renderAreaTint.frag.essl
build/debug-html5-resources/rgbSplit-webgl2.frag.essl
build/debug-html5-resources/rgbSplit.frag.essl
build/debug-html5-resources/ShBrightness-webgl2.frag.essl
build/debug-html5-resources/ShBrightness.frag.essl
build/debug-html5-resources/shInverseMask-webgl2.frag.essl
build/debug-html5-resources/shInverseMask.frag.essl
build/debug-html5-resources/shMask-webgl2.frag.essl
build/debug-html5-resources/shMask-webgl2.vert.essl
build/debug-html5-resources/shMask.frag.essl
build/debug-html5-resources/shMask.vert.essl
build/debug-html5-resources/shMaxBlend-webgl2.frag.essl
build/debug-html5-resources/shMaxBlend.frag.essl
build/debug-html5-resources/shMixGlow-webgl2.frag.essl
build/debug-html5-resources/shMixGlow.frag.essl
build/debug-html5-resources/simple-webgl2.frag.essl
build/debug-html5-resources/simple-webgl2.vert.essl
build/debug-html5-resources/simple.frag.essl
build/debug-html5-resources/simple.vert.essl
build/debug-html5-resources/simpleAlpha-webgl2.frag.essl
build/debug-html5-resources/simpleAlpha-webgl2.vert.essl
build/debug-html5-resources/simpleAlpha.frag.essl
build/debug-html5-resources/simpleAlpha.vert.essl
build/debug-html5-resources/simpleColorTransformation-webgl2.frag.essl
build/debug-html5-resources/simpleColorTransformation-webgl2.vert.essl
build/debug-html5-resources/simpleColorTransformation.frag.essl
build/debug-html5-resources/simpleColorTransformation.vert.essl
build/debug-html5-resources/simpleLight-webgl2.frag.essl
build/debug-html5-resources/simpleLight.frag.essl
build/debug-html5-resources/simpleRgbSplit-webgl2.frag.essl
build/debug-html5-resources/simpleRgbSplit.frag.essl
build/debug-html5-resources/simpleTime-webgl2.vert.essl
build/debug-html5-resources/simpleTime.vert.essl
build/debug-html5-resources/vBlurVertexShader-webgl2.vert.essl
build/debug-html5-resources/vBlurVertexShader.vert.essl
build/temp/cache.json
build/Clase1-html5.hxproj
build/html5.zip
build/project-html5.hxml
build/Clase1-html5-intellij/Clase1.iml
build/Clase1-html5-intellij/.idea/.name
build/Clase1-html5-intellij/.idea/compiler.xml
build/Clase1-html5-intellij/.idea/haxe.xml
build/Clase1-html5-intellij/.idea/misc.xml
build/Clase1-html5-intellij/.idea/modules.xml
build/Clase1-html5-intellij/.idea/vcs.xml
build/Clase1-html5-intellij/.idea/copyright/profiles_settings.xml
build/html5/bomb.png
build/html5/favicon.ico
build/html5/fish.png
build/html5/gameOver.png
build/html5/grass.png
build/html5/gravityInfo.png
build/html5/index.html
build/html5/jason.png
build/html5/jason.xml
build/html5/julia.png
build/html5/julia.xml
build/html5/Kenney Thick.ttf
build/html5/kha.js
build/html5/lifeFountain.png
build/html5/mainfont.ttf
build/html5/ninja.png
build/html5/saw.png
build/html5/spikes.png
build/html5/sprint.png
build/html5/SunnyLand.png
build/html5/swimInfo.png
build/html5/tiles.png
build/html5/titleScreen.png
build/html5-resources/alpha-relaxed.vert.essl
build/html5-resources/alpha-webgl2.vert.essl
build/html5-resources/alpha.vert.essl
build/html5-resources/blur_pass-relaxed.frag.essl
build/html5-resources/blur_pass-webgl2.frag.essl
build/html5-resources/blur_pass.frag.essl
build/html5-resources/blurFragmentShader-relaxed.frag.essl
build/html5-resources/blurFragmentShader-webgl2.frag.essl
build/html5-resources/blurFragmentShader.frag.essl
build/html5-resources/files.json
build/html5-resources/filmGrain-relaxed.frag.essl
build/html5-resources/filmGrain-webgl2.frag.essl
build/html5-resources/filmGrain.frag.essl
build/html5-resources/fov-relaxed.frag.essl
build/html5-resources/fov-webgl2.frag.essl
build/html5-resources/fov.frag.essl
build/html5-resources/fxaa-relaxed.frag.essl
build/html5-resources/fxaa-webgl2.frag.essl
build/html5-resources/fxaa.frag.essl
build/html5-resources/hBlurVertexShader-relaxed.vert.essl
build/html5-resources/hBlurVertexShader-webgl2.vert.essl
build/html5-resources/hBlurVertexShader.vert.essl
build/html5-resources/HighPassFilter-relaxed.frag.essl
build/html5-resources/HighPassFilter-webgl2.frag.essl
build/html5-resources/HighPassFilter.frag.essl
build/html5-resources/mesh-relaxed.frag.essl
build/html5-resources/mesh-relaxed.vert.essl
build/html5-resources/mesh-webgl2.frag.essl
build/html5-resources/mesh-webgl2.vert.essl
build/html5-resources/mesh.frag.essl
build/html5-resources/mesh.vert.essl
build/html5-resources/meshBones-relaxed.vert.essl
build/html5-resources/meshBones-webgl2.vert.essl
build/html5-resources/meshBones.vert.essl
build/html5-resources/meshNoShade-relaxed.frag.essl
build/html5-resources/meshNoShade-webgl2.frag.essl
build/html5-resources/meshNoShade.frag.essl
build/html5-resources/mirage-relaxed.frag.essl
build/html5-resources/mirage-webgl2.frag.essl
build/html5-resources/mirage.frag.essl
build/html5-resources/mosaic-relaxed.frag.essl
build/html5-resources/mosaic-webgl2.frag.essl
build/html5-resources/mosaic.frag.essl
build/html5-resources/multiplyColor-relaxed.frag.essl
build/html5-resources/multiplyColor-webgl2.frag.essl
build/html5-resources/multiplyColor.frag.essl
build/html5-resources/outline-relaxed.frag.essl
build/html5-resources/outline-webgl2.frag.essl
build/html5-resources/outline.frag.essl
build/html5-resources/painter-colored-relaxed.frag.essl
build/html5-resources/painter-colored-relaxed.vert.essl
build/html5-resources/painter-colored-webgl2.frag.essl
build/html5-resources/painter-colored-webgl2.vert.essl
build/html5-resources/painter-colored.frag.essl
build/html5-resources/painter-colored.vert.essl
build/html5-resources/painter-image-relaxed.frag.essl
build/html5-resources/painter-image-relaxed.vert.essl
build/html5-resources/painter-image-webgl2.frag.essl
build/html5-resources/painter-image-webgl2.vert.essl
build/html5-resources/painter-image.frag.essl
build/html5-resources/painter-image.vert.essl
build/html5-resources/painter-text-relaxed.frag.essl
build/html5-resources/painter-text-relaxed.vert.essl
build/html5-resources/painter-text-webgl2.frag.essl
build/html5-resources/painter-text-webgl2.vert.essl
build/html5-resources/painter-text.frag.essl
build/html5-resources/painter-text.vert.essl
build/html5-resources/painter-video-relaxed.frag.essl
build/html5-resources/painter-video-relaxed.vert.essl
build/html5-resources/painter-video-webgl2.frag.essl
build/html5-resources/painter-video-webgl2.vert.essl
build/html5-resources/painter-video.frag.essl
build/html5-resources/painter-video.vert.essl
build/html5-resources/poly-relaxed.frag.essl
build/html5-resources/poly-relaxed.vert.essl
build/html5-resources/poly-webgl2.frag.essl
build/html5-resources/poly-webgl2.vert.essl
build/html5-resources/poly.frag.essl
build/html5-resources/poly.vert.essl
build/html5-resources/renderAreaTint-relaxed.frag.essl
build/html5-resources/renderAreaTint-webgl2.frag.essl
build/html5-resources/renderAreaTint.frag.essl
build/html5-resources/rgbSplit-relaxed.frag.essl
build/html5-resources/rgbSplit-webgl2.frag.essl
build/html5-resources/rgbSplit.frag.essl
build/html5-resources/ShBrightness-relaxed.frag.essl
build/html5-resources/ShBrightness-webgl2.frag.essl
build/html5-resources/ShBrightness.frag.essl
build/html5-resources/shInverseMask-relaxed.frag.essl
build/html5-resources/shInverseMask-webgl2.frag.essl
build/html5-resources/shInverseMask.frag.essl
build/html5-resources/shMask-relaxed.frag.essl
build/html5-resources/shMask-relaxed.vert.essl
build/html5-resources/shMask-webgl2.frag.essl
build/html5-resources/shMask-webgl2.vert.essl
build/html5-resources/shMask.frag.essl
build/html5-resources/shMask.vert.essl
build/html5-resources/shMaxBlend-relaxed.frag.essl
build/html5-resources/shMaxBlend-webgl2.frag.essl
build/html5-resources/shMaxBlend.frag.essl
build/html5-resources/shMixGlow-relaxed.frag.essl
build/html5-resources/shMixGlow-webgl2.frag.essl
build/html5-resources/shMixGlow.frag.essl
build/html5-resources/simple-relaxed.frag.essl
build/html5-resources/simple-relaxed.vert.essl
build/html5-resources/simple-webgl2.frag.essl
build/html5-resources/simple-webgl2.vert.essl
build/html5-resources/simple.frag.essl
build/html5-resources/simple.vert.essl
build/html5-resources/simpleAlpha-relaxed.frag.essl
build/html5-resources/simpleAlpha-relaxed.vert.essl
build/html5-resources/simpleAlpha-webgl2.frag.essl
build/html5-resources/simpleAlpha-webgl2.vert.essl
build/html5-resources/simpleAlpha.frag.essl
build/html5-resources/simpleAlpha.vert.essl
build/html5-resources/simpleColorTransformation-relaxed.frag.essl
build/html5-resources/simpleColorTransformation-relaxed.vert.essl
build/html5-resources/simpleColorTransformation-webgl2.frag.essl
build/html5-resources/simpleColorTransformation-webgl2.vert.essl
build/html5-resources/simpleColorTransformation.frag.essl
build/html5-resources/simpleColorTransformation.vert.essl
build/html5-resources/simpleLight-relaxed.frag.essl
build/html5-resources/simpleLight-webgl2.frag.essl
build/html5-resources/simpleLight.frag.essl
build/html5-resources/simpleRgbSplit-relaxed.frag.essl
build/html5-resources/simpleRgbSplit-webgl2.frag.essl
build/html5-resources/simpleRgbSplit.frag.essl
build/html5-resources/simpleTime-relaxed.vert.essl
build/html5-resources/simpleTime-webgl2.vert.essl
build/html5-resources/simpleTime.vert.essl
build/html5-resources/vBlurVertexShader-relaxed.vert.essl
build/html5-resources/vBlurVertexShader-webgl2.vert.essl
build/html5-resources/vBlurVertexShader.vert.essl
